@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --main-bg-pattern: url("/pattern.svg");
}

@layer base {
  html {
    @apply text-gray-200;
  }

  body > .main-bg {
    background-image: var(--main-bg-pattern);
  }

  .bg-gradient {
    @apply bg-gradient-to-tr from-primary via-primary to-secondary;
  }
}

nav.top-nav:after {
  content: ' ';
  background: url('/download.svg') no-repeat right;
  background-size: contain;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 0;
  display: inline-block;
}
